In [1]:
print("hello")

hello

In [3]:
t = (1,2,3,4,5,6,1,2,3)
t

(1, 2, 3, 4, 5, 6, 1, 2, 3)

In [2]:
s = {1,2,3,4,5,6,1,2,3}
s

{1, 2, 3, 4, 5, 6}

In [4]:
s = {1,2,4, -2,4,"hello", 'a'}

In [5]:
s

{-2, 1, 2, 4, 'a', 'hello'}

In [6]:
d = {}
type(d)

dict

In [7]:
s = set({})
type(s)

set

In [9]:
d = {'a':24, 'b':34, 'c':'hello'}
d

{'a': 24, 'b': 34, 'c': 'hello'}

In [10]:
d['a']

24

In [11]:
for i in d:
    print(i)

a
b
c

In [12]:
d['e'] = "new value"
d

{'a': 24, 'b': 34, 'c': 'hello', 'e': 'new value'}

In [14]:
name = "john doe"
my_dictionary = {'s':54, 'a':64, 'j':75}

In [15]:
d = {}
for i in name:
    d[i] = ord(i)

d

{'j': 106, 'o': 111, 'h': 104, 'n': 110, ' ': 32, 'd': 100, 'e': 101}

In [17]:
d.pop('j')

106

In [18]:
d

{'o': 111, 'h': 104, 'n': 110, ' ': 32, 'd': 100, 'e': 101}

In [19]:
more_data = {'name': 'John Doe', "address": 'some address'}
d.update(more_data)

In [20]:
d

{'o': 111,
 'h': 104,
 'n': 110,
 ' ': 32,
 'd': 100,
 'e': 101,
 'name': 'John Doe',
 'address': 'some address'}

In [21]:
my_l = [1,2,4,5,45,2,2,8,10]
my_l*2

[1, 2, 4, 5, 45, 2, 2, 8, 10, 1, 2, 4, 5, 45, 2, 2, 8, 10]

In [22]:
my_l2 = []
for i in my_l:
    my_l2.append(2*i)

my_l2

[2, 4, 8, 10, 90, 4, 4, 16, 20]

In [24]:
k =[i*2 for i in my_l]
k

[2, 4, 8, 10, 90, 4, 4, 16, 20]

In [25]:
d_ = {i:ord(i)  for i in name}
d_

{'j': 106, 'o': 111, 'h': 104, 'n': 110, ' ': 32, 'd': 100, 'e': 101}

In [26]:
s = "hello"
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
x = 25
x > 20

True

In [35]:
x = 27
if x > 20:
    print("hot")
    print("need ice")
elif x > 20 and x < 35:
    print("great weather")
    
else:
    print("cold")

hot
need ice

In [36]:
i=0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [37]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [38]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [39]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [40]:
temp = 15
print('Cold') if temp < 20 else print('Normal')

Cold

In [41]:
x = range(0,20)
x

range(0, 20)

In [44]:
y = [i for i in range(0,20) if i%3==0 and i%2==0]
y

[0, 6, 12, 18]

In [46]:
def my_function():
    print("hello")

In [47]:
my_function()

hello

In [48]:
def my_function(mesg):
    print(mesg)

In [49]:
my_function("this is test")

this is test

In [50]:
def my_func(x,y):
    c = x + y
    d = x - y
    e = "some string"
    return c,d,e

In [52]:
c,d,e = my_func(20,30)

In [53]:
print(c,d,e)

50 -10 some string

In [55]:
def factors(up_to,factor=3):
    total = 0
    for i in range(up_to):
        if i%factor ==0:
            total+=i
    
    
    return total

total = factors(100)
total
#6083
#114
#1683 ******

1683

In [56]:
class MyClass:
    pass

In [57]:
m = MyClass()
m

In [64]:
class MyClass:
    st_nr = 0
    def __init__(self, name1, age1):
        self.name = name1
        self.age = age1

In [66]:
m1 = MyClass("john doe", 25)
m2 = MyClass("jimmy doe", 45)

In [67]:
m1.name

'john doe'

In [68]:
class MyClass:
    st_nr = 0
    def __init__(self, name1, age1):
        self.name = name1
        self.age = age1
    
    def displayInfo(self):
        print(self.name," ", self.age)

In [69]:
m1 = MyClass("john doe", 25)
m2 = MyClass("jimmy doe", 45)

In [70]:
m1.displayInfo()

john doe   25

In [71]:
MyClass.displayInfo()

TypeError: MyClass.displayInfo() missing 1 required positional argument: 'self'

In [72]:
MyClass.st_nr

0

In [ ]:
s1 = Student("john doe", 44, 2.4)
s2 = Student("john doe", 44, 2.4)

In [74]:
class Student:
    str_nr = 0
    def __init__(self, name, age, gpa):
        self.name = name
        self.age = age
        self.gpa = gpa
        Student.str_nr = Student.str_nr + 1
        self.my_id = Student.str_nr
    
    def displayInfo(self):
        print(f"Name is {self.name}, age {self.age}, my id is {self.my_id}")

In [75]:
s1 = Student("john doe", 42, 2.4)
s2 = Student("jane doe", 24, 3.4)
s3 = Student("Jimmy Yang", 20,4.3)

In [76]:
s1.displayInfo()

Name is john doe, age 42, my id is 1

In [77]:
s2.displayInfo()

Name is jane doe, age 24, my id is 2

In [78]:
print(s1)

<__main__.Student object at 0x000001BA89342AA0>

In [79]:
x = 25
print(x)

25

In [80]:
class Student:
    str_nr = 0
    def __init__(self, name, age, gpa):
        self.name = name
        self.age = age
        self.gpa = gpa
        Student.str_nr = Student.str_nr + 1
        self.my_id = Student.str_nr
    
    def __str__(self):
        return f"Name is {self.name}, age {self.age}, my id is {self.my_id}"

    def displayInfo(self):
        print(f"Name is {self.name}, age {self.age}, my id is {self.my_id}")

In [81]:
s1 = Student("john doe", 42, 2.4)
s2 = Student("jane doe", 24, 3.4)
s3 = Student("Jimmy Yang", 20,4.3)

In [82]:
s3.displayInfo()

Name is Jimmy Yang, age 20, my id is 3

In [83]:
print(s3)

Name is Jimmy Yang, age 20, my id is 3

In [84]:
x = 25
y = 30
x + y

55

In [85]:
x = "hello"
y = " world"
x + y

'hello world'

In [86]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'Student' and 'Student'

In [94]:
class Student:
    str_nr = 0
    def __init__(self, name, age, gpa):
        self.name = name
        self.age = age
        self.gpa = gpa
        Student.str_nr = Student.str_nr + 1
        self.my_id = Student.str_nr
    
    def __str__(self):
        return f"Name is {self.name}, age {self.age}, my id is {self.my_id}"
    
    def __add__(self, Student):
        return self.age + Student.age
    
    def __sub__(self, Student):
        return self.gpa - Student.gpa

    def displayInfo(self):
        print(f"Name is {self.name}, age {self.age}, my id is {self.my_id}")

In [95]:
s1 = Student("john doe", 42, 2.4)
s2 = Student("jane doe", 24, 3.4)
s3 = Student("Jimmy Yang", 20,4.3)

In [96]:
s1 + s2

66

In [97]:
s1 - s2

-1.0

In [106]:
class Person:
    def __init__(self, name,age):
        self.name = name
        self.age = age

    def display1(self):
        print("owned by person")
        self.__display2()    
    def __display2(self):
        print("owned by person hidden")

In [102]:
class Student(Person):
    def display(self):
        print("owned by student")

In [103]:
s1 = Student("Student 1", 25)

In [104]:
s1.display()

owned by student

In [107]:
p1 = Person("p1", 55)
p1.display1()

owned by person

In [108]:
p1.__display2()

AttributeError: 'Person' object has no attribute '__display2'