In [1]:
print("hello")

hello

In [3]:
x = int(54.4)
type(x)

int

In [4]:
bool(1)

True

In [6]:
bool("0")

True

In [7]:
bool("")

False

In [8]:
bool("False")

True

In [1]:
x = "hello world!"

In [2]:
x[3] = "test"

TypeError: 'str' object does not support item assignment

In [14]:
name = "john doe"
print(name)
name_words = map(lambda word: word.capitalize(), name.split())
name = " ".join(list(name_words))
print(name)

john doe
John Doe

In [1]:
name = "Cong Lanh Hoang"
name_ascii = []
total = 0
for letter in name:
    ascii_code = ord(letter)
    name_ascii.append(ascii_code)
    total += ascii_code
print(name_ascii)
print(total)

[67, 111, 110, 103, 32, 76, 97, 110, 104, 32, 72, 111, 97, 110, 103]
1335

In [2]:
# Create a dictionary with the key being the letter of your name and the value is the ascii code
d = {}
name = "Lanh"
for letter in name:
  d[letter] = ord(letter)

print(d)

{'L': 76, 'a': 97, 'n': 110, 'h': 104}

In [3]:
more_data = {"name": "John Doe", "address": "some address"}
d.update(more_data)
d

{'L': 76,
 'a': 97,
 'n': 110,
 'h': 104,
 'name': 'John Doe',
 'address': 'some address'}

In [4]:
my_l = [1,2,4,5,45,3,3,8,10]
my_l*2

[1, 2, 4, 5, 45, 3, 3, 8, 10, 1, 2, 4, 5, 45, 3, 3, 8, 10]

In [7]:
my_l2 = []
for i in my_l:
  my_l2.append(i*2)

my_l2

[2, 4, 8, 10, 90, 6, 6, 16, 20]

In [10]:
k = [i*2 for i in my_l]
k

[2, 4, 8, 10, 90, 6, 6, 16, 20]

In [11]:
d = {i:ord(i) for i in name}
d

{'L': 76, 'a': 97, 'n': 110, 'h': 104}

In [12]:
x = 25
x > 20

True

In [18]:
x = 27
if x > 20:
  print("hot")
  print("need ice")
  print("need ac")
elif x > 20 and x < 35:
  print("great weather")
else:
  print("cold")

hot
need ice
need ac

In [19]:
i = 0
while i < 10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [20]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0, 20, 2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [23]:
for i in range(20, 0, -2):
  print(i)

20
18
16
14
12
10
8
6
4
2

In [24]:
temp = 15
print("Cold") if temp < 20 else print("Normal")

Cold

In [25]:
x = range(0,20)
x

range(0, 20)

In [31]:
y = [i for i in range(0, 20) if i % 3 == 0 and i % 2 ==0]
y

[0, 6, 12, 18]

In [32]:
def my_function():
  print("hello")

In [33]:
my_function()

hello

In [34]:
def my_function(mesg):
  print(mesg)

In [35]:
my_function("this is test")

this is test

In [36]:
def my_func(x, y):
  c = x + y
  d = x - y
  e = "some string"
  return c, d, e

In [37]:
c,d,e = my_func(20,30)

In [38]:
print(c,d,e)

50 -10 some string

In [45]:
def factors(up_to, factor):
  total = 0
  for i in range(up_to):
    if i % factor == 0:
      total += i
  return total

total = factors(100, 3)
total

1683

In [47]:
class MyClass():
  pass

In [48]:
m = MyClass()
m

In [54]:
class MyClass():
  st_nr = 0
  def __init__(self, name1, age1):
    self.name = name1
    self.age = age1

In [58]:
m1 = MyClass("John Doe", 25)
m2 = MyClass("Jane Doe", 45)

In [59]:
m1.name

'John Doe'

In [60]:
class MyClass():
  st_nr = 0
  def __init__(self, name1, age1):
    self.name = name1
    self.age = age1
  
  def displayInfo(self):
    print(self.name, self.age)

In [62]:
m1 = MyClass("John Doe", 25)
m2 = MyClass("Jane Doe", 45)

In [64]:
m1.displayInfo()

John Doe 25

In [84]:
class Student():
  str_nr = 0

  def __init__(self, name, age, gpa):
    self.name = name
    self.age = age
    self.gpa = gpa
    Student.str_nr = Student.str_nr + 1
    self.my_id = Student.str_nr
  
  def __str__(self):
    return f"Name is {self.name}, age {self.age}, my id is {self.my_id}"

  def __add__(self, Student):
    return self.gpa + Student.gpa

  def __sub__(self, Student):
    return self.gpa - Student.gpa
  
  def displayInfo(self):
    print(f"Name is {self.name}, age {self.age}, my id is {self.my_id}")

In [85]:
s1 = Student("John Doe", 44, 2.4)
s2 = Student("Jane Doe", 24, 3.4)
s1.displayInfo()

Name is John Doe, age 44, my id is 1

In [78]:
print(s1)

Name is John Doe, age 44, my id is 1

In [82]:
s1 + s2

5.8

In [86]:
s1 - s2

-1.0

In [87]:
class Person():
  def __init__(self, name, age):
    self.name = name
    self.age = age
  
  def display(self):
    print("owned by Person")
    self.__display2()
  
  def __display2(self):
    print("owned by Person hidden")

In [88]:
class Student(Person):
  def display(self):
    print("owned by Student")

In [89]:
s1 = Student("Student 1", 25)

In [90]:
s1.display()

owned by Student

In [91]:
s1.__display2()

AttributeError: 'Student' object has no attribute '__display2'